<form action="/students" method="POST">
  <label>Name</label>
  <input name="name" placeholder=<%= @placeholder_name %> type="text"></input>

  <label>Major</label>
  <input name="major" placeholder=<%= @placeholder_major %> type="text"></input>

  <label>Age</label>
  <input name="age" placeholder=<%= @placeholder_age %> type="text"></input>

  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <button type="submit">Create student</button>
</form>
